.main_container {
  display: flex;
  color: #000000;
  align-items: start;
  justify-content: space-around;
  padding: 100px;
}
.main_container p {
  margin-bottom: 1em;
  color: #000000;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 49px;
  text-align: left;
}
.main_container span {
  display: block;
  font-family: "Inter";
  font-size: 20px;
  font-weight: medium;
  color: #0a0a0a;
  text-align: left;
}

.form-title {
  font-size: 20px;
  color: #ffffff;
  text-align: left;
  margin-bottom: 20px;
}

.form-container {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
  max-width: 900px;
  margin: 0 auto;
}

.form-field {
  border: 1px solid #c0b0b0;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 15px;
  width: calc(100% - 22px);
  background-color: #ffffff;
  width: 440px;
  height: 60px;
  color: #000;
}

.label {
  display: block;
  margin-bottom: 5px;
  color: #000000;
  background-color: #ffffff;
  text-align: left;
}
.submit-button {
  background-color: #5E8AE0;
  margin-left: 4px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  display: block;
  width: 460px;
  height: 60px;
}

.required::after {
  content: "*";
  color: red;
  padding-left: 5px;
}

.unit-input-container {
  display: flex;
}

.unit-input {
  flex-grow: 1;
}
.form-field1{
  border: 1px solid #c0b0b0;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 15px;
  width: calc(100% - 22px);
  background-color: #ffffff;
  width: 280px;
  height: 60px;
  color: #000;
}
.form-field3{
  border: 1px solid #c0b0b0;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 15px;
  width: calc(100% - 22px);
  background-color: #ffffff;
  width: 280px;
  height: 60px;
  color: #000;
  margin-right: 150px;
}
.form-field2{
  border: 1px solid #c0b0b0;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 15px;
  width: calc(100% - 22px);
  background-color: #ffffff;
  width: 130px;
  height: 60px;
  color: #000;
  flex: 1; 
}
.fields-container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}
.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
