.container_footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FCA713;
    color: #c35e5e; 
    text-align: center;
    padding: 10px 0; 
  }
.container_footer strong{
    color: rgb(0, 0, 0);
}